body{
    background-color: #F2E5D2;
}
.box{
    position: absolute;
    top: 0px;
    left: 0px;
    font-size: 10px;
    background: rgb(8, 8, 8);
        padding: 100px 683px;
        border-radius: 0px;}

 #rcorners1{
position: absolute;
    top: 100px;
    left: 570px;
border-radius: 100px 100px 100px 100px;
background: #ffffff;
padding: 10px; 
width: 150px;
height: 150px; 

}

img{
    width: 150px;
    margin-top: 50px;
    margin-left: 10px;
}

.content{
    margin-top: 300px;
    margin-left: 0px;

}